<mat-toolbar color="primary" class="mat-elevation-z6">
    <!--<mat-icon class="mr-3">nature_people</mat-icon>-->
    <h1 class="mat-h1">
        {{navbarConfig.title}}
    </h1>
    <div class="button-row">
        <a *ngFor="let button of navbarConfig.buttons" mat-button routerLink="{{button.link}}"
            color="white" matTooltip="{{button.tooltip}}"
            matTooltipPosition="below" [matTooltipShowDelay]="1000">{{button.name}}</a>
    </div>
    <span class="spacer"></span>
    <button mat-button color="white" class="user-display text-right py-1">
        {{"User"}}
        <img class="rounded-circle ml-2" src="favicon.ico" alt="">
    </button>
</mat-toolbar>

<div class="container-fluid">
    <router-outlet></router-outlet>
</div>